.menu {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
}

#location {
  color: rgb(91, 91, 91);
  float: left;
  font-weight: bold;
  font-size: 14px;
}
.precipitation_map_link:hover,
.schedule_link:hover,
.taxi_link:hover,
.metro_link:hover,
.video_link:hover,
.pictures_link:hover,
.news_link:hover,
.maps_link:hover,
.market_link:hover,
.translation_link:hover,
.music_link:hover,
.programme_link:hover,
.auto_link:hover,
.corona:hover {
  color: red;
  transition: 0.3s;
}

.weather_link:hover,
.traffic_jams_link:hover,
#now_in_smi:hover,
#in_moscow:hover,
.dzen:hover,
#location:hover {
  color: rgb(169, 7, 7);
  transition: 0.4s;
}

.weather_link,
.traffic_jams_link {
  margin-right: 5px;
  color: mediumblue;
}

.schedule_link,
.taxi_link,
.metro_link,
.precipitation_map_link {
  color: blue;
}

#location,
.precipitation_map_link,
.schedule_link,
.taxi_link,
.metro_link {
  margin-right: 5px;
}
#date {
  float: left;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}

#target {
  line-height: 1.5;
}

.news_stocks {
  margin-left: 19.5%;
}

table.main_inf {
  margin-left: 15%;
  margin-top: 5px;
  width: 900px;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  table-layout: fixed;
}
table.main_inf,
table.main_inf td,
table.main_inf th {
  border: 0;
}
table.main_inf td,
table.main_inf th {
  padding: 3px;
  width: 80px;
  height: 35px;
}

table.main_inf .news {
  width: 250px;
}

table.apps {
  text-align: center;
  margin: auto;
  width: 900px;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  table-layout: fixed;
}
table.apps,
table.apps td,
table.apps th {
  border: 0;
}
table.apps td,
table.apps th {
  padding: 3px;
  width: 30px;
  height: 35px;
}
table.apps th {
  background: #347c99;
  color: #fff;
  font-weight: normal;
}
#test_scroll {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: rgb(167, 165, 160);
  margin: 10px 10px 0px 0px;
  border: 1px solid rgb(11, 11, 12);
}

#yandex {
  width: 70%;
  height: 30px;
}

.search {
  margin-left: 10%;
}

a {
  color: #000;
  text-decoration: none;
}

.new1:hover,
.new2:hover,
.new3:hover,
.new4:hover,
.new5:hover,
.new6:hover {
  color: rgb(189, 7, 7);
  transition: 0.3s;
}

#now_in_smi {
  font-size: 18px;
  color: rgb(134, 134, 255);
  border: none;
  outline: none;
  background-color: #fff;
}

#in_moscow {
  font-size: 16px;
  color: mediumblue;
  border: none;
  outline: none;
  background-color: #fff;
}
.dzen {
  font-size: 20px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.desk-notif {
  position: absolute;
  top: 0;
  right: 0;
  display: flex(column, flex-start, flex-start);
  padding: 10px 14px;
}
.desk-notif_card_mail,
.desk-notif_card_covid {
  margin: auto;
  background: #f1f1f1;
  border-radius: 3px;
  width: 160px;
  height: auto;
  padding: 12px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.desk-notif_card_covid:hover {
  margin-right: 5px;
}

#Layout_1:hover,
#Layout_2:hover,
#Layout_3:hover,
#Layout_4:hover,
#Layout_5:hover,
#Layout_6:hover,
#Layout_7:hover,
#Layout_8:hover,
#Layout_9:hover {
  margin-bottom: 5px;
  transition: 0.3s;
}
